.section-black {
    background-color: #000;
    color: #fff;
    height: 200px;

    h1 {
        text-align: center;
        padding-top: 60px;
        font-size: 4rem;
    }
}

.section-yellow {
    background-color: #ff0;
    height: 200px;
}